{% extends "layout.html" %}
{% include "sidebar.html" %}
{% block content %}

{% include "_messages.html" %}

<div style="overflow-x:auto;">
    <table class="table table-sm table-hover">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Name</th>
            <th class="text-center" scope="col"></th>
            <th class="text-center" scope="col"></th>
        </thead>
        <tbody>

            {% if brands %}
            {% for brand in brands %}
            <tr>
                <th class="text-center" scope="row">{{ loop.index}}</td>
                <td class="text-left">{{ brand.name }}</td>
                <td class="text-center"><a href="{{url_for('updatebrand', id=brand.id)}}" class="btn btn-sm btn-outline-info"> Edit  </a></td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Modal-{{brand.id}}">
                        Delete
                    </button>
                </td>
            </tr>
            <!-- Modal -->
              <div class="modal fade" id="Modal-{{brand.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{brand.name}}</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="span">Are you sure you want to delete {{brand.name}} ? </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <form action="{{url_for('deletebrand', id=brand.id)}}" method="POST">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                      </form>       
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            {% else %}

            {% for category in categories %}
            <tr>
                <th class="text-center" scope="row">{{ loop.index}}</td>
                <td class="text-left">{{ category.name }}</td>
                <td class="text-center"><a href="{{url_for('updatecategory', id=category.id)}}" class="btn btn-sm btn-outline-info"> Edit  </a></td>
                <td class="text-center">
                    <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#Modal-{{category.id}}">
                        Delete
                    </button>
                </td>
            </tr>
            <!-- Modal -->
            <div class="modal fade" id="Modal-{{category.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{category.name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="span">Are you sure you want to delete {{category.name}} ? </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{url_for('deletecategory', id=category.id)}}" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>       
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}

            {% endif %}
        </tbody>
    </table>
</div>

{% endblock content %}