{% extends "layout.html" %}
{% block content %}
{% include "admin_navbar.html" %}
<div class="container-sm mt-3">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-md-12">
            <p>Invoice: {{orders.invoice}}</p> 
            <p>Customer Name: {{customer.name}}</p> 
            <p>Customer Email: {{customer.email}}</p> 
            <p>Customer Contact: {{customer.number}}</p> 
        </div>
    </div>
    <table class="table table-sm table-condensed table-striped table-hover">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Color</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Discount</th>
            <th scope="col">Subtotal</th>
        </thead>
        <tbody>
            {% for key, product in orders.orders.items() %}
            <tr>
                <th scope="row">{{loop.index}}</td>
                <td>{{product.name}}</td>
                <td>{{product.color}}</td>
                <td>₱{{product.price}}</td>
                <td>{{product.quantity}}</td>
                {% set discount = "%0.2f" |format(product.discount|float * product.quantity|int) %}
                <td>₱{{discount}}</td>
                {% set subtotal = "%0.2f" |format(product.price|float * product.quantity|int - discount|float ) %}
                <td>₱{{subtotal}}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="1"></td>
                <td colspan="2"><h6>Grand Total : {{grandtotal}}</h6></td>
                <td colspan="2"><h6>Status: {{orders.status}}</h6></td>
                <td><a href="{{url_for('get_order')}}" class="btn btn-sm btn-warning bi bi-check-lg"> Deliver </a></td>
                <td><a href="{{url_for('clearcart')}}" class="btn btn-sm btn-danger bi bi-x-lg"> Cancel </a></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock content %}