{% extends "layout.html" %}
{% include "sidebar.html" %}
{% block content %}
{% include "_messages.html" %}
<div style="overflow-x:auto;">
    <h5>Open Orders</h5>
    <table class="table table-sm table-hover">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice</th>
            <th class="text-center" scope="col">Customer</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col"></th>
        </thead>
        <tbody>
            {% for order,customer in orders %}
            <tr>
                <th  class="text-center" scope="row">{{loop.index}}</td>
                <td class="text-center">{{order.invoice}}</td>
                <td class="text-center">{{customer.name}}</td>
                <td class="text-center">{{order.status}}</td>
                <td class="text-center">{{order.datecreated.strftime('%Y-%m-%d')}}</td>
                <td class="text-center"><a href="{{url_for('orderdetails', invoice=order.invoice)}}" class="btn btn-sm btn-info bi bi-search"> View </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}