{% extends "layout.html" %}

{% block content %}

<div class='text-center h3'> Login </div>
<div class="container">
    {% from "_formhelpers.html" import render_field %}
    {% include "_messages.html" %}
    <form method=post>
        {{form.csrf_token}}
        <dl>
            {{ render_field(form.email, class="form-control") }}
            {{ render_field(form.password, class="form-control") }}
        </dl>
            <p><input type=submit value=Login>
    </form>
</div>
{% endblock content %}