{% extends "layout.html" %}
{% include "navbar.html" %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/orders.css')}}">
{% include "_messages.html" %}

<div style="overflow-x:auto;">
<h2>My Orders</h2>

<div class="tab">
{% if openCount > 0 %}
  <button class="tablinks" onclick="openOrder(event, 'openOrders')">
    Open Orders <span class="badge badge-info"> {{openCount}} </span>
</button>
  {% else %}
{% endif %}

{% if completedCount > 0 %}
  <button class="tablinks" onclick="openOrder(event, 'completedOrders')">
    Completed Orders <span class="badge badge-success"> {{completedCount}} </span>
</button>
  {% else %}
{% endif %}

{% if canceledCount > 0 %}
  <button class="tablinks" onclick="openOrder(event, 'canceledOrders')">
    Canceled Orders <span class="badge badge-danger"> {{canceledCount}} </span>
</button>
  {% else %}
{% endif %}

</div>

<div id="openOrders" class="tabcontent">
    <table class="table table-sm table-hover">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice</th>
            <th class="text-center" scope="col">Customer</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col"></th>
        </thead>
        <tbody>

            {% for order,customer in open %}
            <tr>
                <th  class="text-center" scope="row">{{loop.index}}</td>
                <td class="text-center">{{order.invoice}}</td>
                <td class="text-center">{{customer.name}}</td>
                <td class="text-center">{{order.status}}</td>
                <td class="text-center">{{order.datecreated.strftime('%Y-%m-%d')}}</td>
                <td class="text-center"><a href="{{url_for('orders', invoice=order.invoice)}}" class="btn btn-sm btn-info bi bi-search"> View </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div id="completedOrders" class="tabcontent">
    <table class="table table-sm table-hover">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice</th>
            <th class="text-center" scope="col">Customer</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col"></th>
        </thead>
        <tbody>

            {% for order,customer in completed %}
            <tr>
                <th  class="text-center" scope="row">{{loop.index}}</td>
                <td class="text-center">{{order.invoice}}</td>
                <td class="text-center">{{customer.name}}</td>
                <td class="text-center">{{order.status}}</td>
                <td class="text-center">{{order.datecreated.strftime('%Y-%m-%d')}}</td>
                <td class="text-center"><a href="{{url_for('orders', invoice=order.invoice)}}" class="btn btn-sm btn-info bi bi-search"> View </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<div id="canceledOrders" class="tabcontent">
    <table class="table table-sm table-hover">
        <thead>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Invoice</th>
            <th class="text-center" scope="col">Customer</th>
            <th class="text-center" scope="col">Status</th>
            <th class="text-center" scope="col">Date</th>
            <th class="text-center" scope="col"></th>
        </thead>
        <tbody>

            {% for order,customer in canceled %}
            <tr>
                <th  class="text-center" scope="row">{{loop.index}}</td>
                <td class="text-center">{{order.invoice}}</td>
                <td class="text-center">{{customer.name}}</td>
                <td class="text-center">{{order.status}}</td>
                <td class="text-center">{{order.datecreated.strftime('%Y-%m-%d')}}</td>
                <td class="text-center"><a href="{{url_for('orders', invoice=order.invoice)}}" class="btn btn-sm btn-info bi bi-search"> View </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

<script>
function openOrder(evt, status) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
    
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(status).style.display = "block";
  evt.currentTarget.className += " active";
  }
</script>
{% endblock content %}