<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Download PDF!</title>
  </head>
  <body>
    <div class="container-sm mt-3">
        <h6> Customer Details </h6>
        <table class="table table-sm">        
            <thead>
                <th class="text-center"scope="col">Invoice</th>
                <th class="text-center"scope="col">Customer Name</th>
                <th class="text-center"scope="col">Customer Email</th>
                <th class="text-center"scope="col">Customer Contact</th>
            </thead>
            <tbody>
    
                <tr>
                    <td class="text-center">{{orders.invoice}}</td>
                    <td class="text-center">{{customer.name}}</td>
                    <td class="text-center">{{customer.email}}</td>
                    <td class="text-center">{{customer.number}}</td>
            </tbody>
        </table>
    <h6> Order Details </h6>
        <table class="table table-sm table-condensed table-striped table-hover">
            <thead>
                <th class="text-center"scope="col">#</th>
                <th class="text-center"scope="col">Name</th>
                <th class="text-center"scope="col">Color</th>
                <th class="text-center"scope="col">Price</th>
                <th class="text-center"scope="col">Quantity</th>
                <th class="text-center"scope="col">Total Discount</th>
                <th class="text-center"scope="col">Subtotal</th>
            </thead>
            <tbody>
                {% for key, product in orders.orders.items() %}
                <tr>
                    <th class="text-center"scope="row">{{loop.index}}</td>
                    <td class="text-center">{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="POST">
                    <td class="text-center">{{product.color}}</td>
                    <td class="text-center">₱{{product.price}}</td>
                    <td class="text-center">{{product.quantity}}</td>
                    {% set discount = "%0.2f" |format(product.discount|float * product.quantity|int) %}
                    <td class="text-center">₱{{discount}}</td>
                    {% set subtotal = "%0.2f" |format(product.price|float * product.quantity|int - discount|float ) %}
                    <td class="text-center">₱{{subtotal}}</td>
                </tr>
                {% endfor %}

                {% set grandtotal = "%0.2f" |format(grandtotal|float ) %}

                <tr>
                    <td class="text-center"></td>
                    <td class="text-center" colspan="5"><h6>Grand Total: </h6></td>
                    <td class="text-center" colspan="2"> <h6>₱{{grandtotal}}</h6></td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>