  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  .col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
  }
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }