{% extends "layout.html" %}
{% include "sidebar.html" %}
{% block content %}


<div class="container">
    <div class="row">
        <div class="col-md-2"> </div>
        <div class="col-md-8"> 
            {% include "_messages.html" %}
            {% if brand %}
            <div class='text-center h3'> Add Brand </div>
            <form action="" method="POST">
                <input type ="text" name="brand" class="form-control">
                <input type ="submit" value="Add Brand" class="btn btn-info float-right mt-2">
            </form>
            {% else %}
            <div class='text-center h3'> Add Category </div>
            <form action="" method="POST">
                <input type ="text" name="category" class="form-control">
                <input type ="submit" value="Add Category" class="btn btn-info float-right mt-2">
            </form>
            {% endif %}
        </div>
        <div class="col-md-2"> </div>
    </div>
</div>

{% endblock content %}
