{% extends "layout.html" %}
    {% include "navbar.html" %}
{% block content %}
<div class="row">

    {% include "_messages.html" %}
</div>
<div class="container mt-5">
    <div class="row">
    {% if brand %}
        {% for product in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>               
                    {% if product.discount > 0 %}
                    <h6 style="color:red; top:5%; left:2%; position:absolute; transform: rotate(-15deg);"> Discount ₱{{product.discount}} </h6>
                    <p class="text-center"> Discounted Price ₱{{product.price - product.discount}}</p> 
                    {% else %}
                    <p class="text-center"> Regular Price ₱{{product.price}}</p>   
                    {% endif%}
                    
                </div>
                <div class="card-footer">
                    <a href="{{url_for('getproductdetails', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method='POST'>
                        <input type="hidden", name="product_id" value ="{{product.id}}">
                        <button type="submit" class="float-right btn btn-sm btn-warning">Add to Cart</button>       
                        <input type="hidden" name="quantity" id ="" value ="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}       
                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value = "{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if brand.has_prev %}
            <a href="{{url_for('getbrandfilter', id=get_brand.id, page=brand.prev_num)}}" class="btn btn-outline-info btn-sm mt-3"> < </a> 
            {% endif %}
            {% if brand.total > 8 %}
            {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if brand.page == page_num %}
            <a href="{{url_for('getbrandfilter', id=get_brand.id, page=page_num)}}" class="btn btn-info btn-sm mt-3"> {{page_num}} </a> 
            {% else %}
            <a href="{{url_for('getbrandfilter', id=get_brand.id, page=page_num)}}" class="btn btn-outline-info btn-sm mt-3"> {{page_num}} </a> 
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if brand.has_next %}
            <a href="{{url_for('getbrandfilter', id=get_brand.id, page=brand.next_num)}}" class="btn btn-outline-info btn-sm mt-3"> > </a> 
            {% endif %}
        </div>
    </div>
    <div class="row">
    {% elif category %}
    {% for product in category.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>               
                    {% if product.discount > 0 %}
                    <h6 style="color:red; top:5%; left:2%; position:absolute; transform: rotate(-15deg);"> Discount ₱{{product.discount}} </h6>
                    <p class="text-center"> Discounted Price ₱{{product.price - product.discount}}</p> 
                    {% else %}
                    <p class="text-center"> Regular Price ₱{{product.price}}</p>   
                    {% endif%}
                    
                </div>
                <div class="card-footer">
                    <a href="{{url_for('getproductdetails', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method='POST'>
                        <input type="hidden", name="product_id" value ="{{product.id}}">
                        <button type="submit" class="float-right btn btn-sm btn-warning">Add to Cart</button>       
                        <input type="hidden" name="quantity" id ="" value ="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}       
                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value = "{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if category.has_prev %}
            <a href="{{url_for('getcategoryfilter', id=get_category.id,  page=category.prev_num)}}" class="btn btn-outline-info btn-sm mt-3"> < </a> 
            {% endif %}
            {% if category.total > 8 %}
            {% for page_num in category.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if category.page == page_num %}
            <a href="{{url_for('getcategoryfilter', id=get_category.id,  page=page_num)}}" class="btn btn-info btn-sm mt-3"> {{page_num}} </a> 
            {% else %}
            <a href="{{url_for('getcategoryfilter', id=get_category.id,  page=page_num)}}" class="btn btn-outline-info btn-sm mt-3"> {{page_num}} </a> 
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if category.has_next %}
            <a href="{{url_for('getcategoryfilter', id=get_category.id,  page=category.next_num)}}" class="btn btn-outline-info btn-sm mt-3"> > </a> 
            {% endif %}
        </div>
    </div>
    <div class="row">
    {% else %}
        {% for product in products.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <img src="{{url_for('static', filename='images/' + product.image_1)}}" alt="{{product.name}}" class="card-img-top" height="200">
                <div class="card-body">
                    <h5 class="text-center">{{product.name}}</h5>               
                    {% if product.discount > 0 %}
                    <h6 style="color:red; top:5%; left:2%; position:absolute; transform: rotate(-15deg);"> Discount ₱{{product.discount}} </h6>
                    <p class="text-center"> Discounted Price ₱{{product.price - product.discount}}</p> 
                    {% else %}
                    <p class="text-center"> Regular Price ₱{{product.price}}</p>   
                    {% endif%}
                    
                </div>
                <div class="card-footer">
                    <a href="{{url_for('getproductdetails', id=product.id)}}" class="float-left btn btn-sm btn-primary">Details</a>
                    <form action="{{url_for('AddCart')}}" method='POST'>
                        <input type="hidden", name="product_id" value ="{{product.id}}">
                        <button type="submit" class="float-right btn btn-sm btn-warning">Add to Cart</button>       
                        <input type="hidden" name="quantity" id ="" value ="1" min="1" max="{{product.stock}}">
                        {% set colors = product.colors.split(',') %}       
                        <select name="colors" id="colors" style="visibility: hidden;">
                            {% for color in colors %}
                            {% set col = color.split(':') %}
                            <option value = "{{col[0]}}">{{col[0]|capitalize}}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if products.has_prev %}
            <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-outline-info btn-sm mt-3"> < </a> 
            {% endif %}
            {% if products.total > 8 %}
            {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if products.page == page_num %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-info btn-sm mt-3"> {{page_num}} </a> 
            {% else %}
            <a href="{{url_for('home', page=page_num)}}" class="btn btn-outline-info btn-sm mt-3"> {{page_num}} </a> 
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if products.has_next %}
            <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-outline-info btn-sm mt-3"> > </a> 
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}


