    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="{{url_for('static', filename='images/' + session['profile'])}}" alt="">
                </span>

                <div class="text logo-text">
                    <span class="name">{{session['name']}}</span>
                    <span class="profession">Admin</span>
                    
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
    
      <div class="menu-bar">
          <div class="menu">
    
              <li class="drop-box">     
                <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class='bx bx-add-to-queue icon' ></i>
                  <span class="text nav-text">Add Items</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text nav-text" href="/addproduct">Add Products</a></li>
                  <li><a class="dropdown-item text nav-text" href="/addbrand">Add Brands</a></li>
                  <li><a class="dropdown-item text nav-text" href="/addcategory">Add Categories</a></li>
                </ul>
              </li>
    
                  <li class="menu-link">
                      <a href="/admin">
                          <i class='bx bx-home-alt icon' ></i>
                          <span class="text nav-text">Products</span>
                      </a>
                  </li>
    
                  <li class="menu-link">
                      <a href="/brands">
                          <i class='bx bx-bar-chart-alt-2 icon' ></i>
                          <span class="text nav-text">Brands</span>
                      </a>
                  </li>
    
                  <li class="menu-link">
                      <a href="/category">
                          <i class='bx bx-category icon'></i>
                          <span class="text nav-text">Categories</span>
                      </a>
                  </li>
    
                  <!-- <li class="menu-link">
                      <a href="/register">
                          <i class='bx bx-pie-chart-alt icon' ></i>
                          <span class="text nav-text">Manage Users</span>
                      </a>
                  </li> -->
    
                 <li class="menu-link">
                      <a href="/orderlists">
                          <i class='bx bx-cart icon' ></i>
                          <span class="text nav-text">Manage Orders</span>
                      </a>
                  </li>
    
                   <!-- <li class="menu-link">
                      <a href="#">
                          <i class='bx bx-wallet icon' ></i>
                          <span class="text nav-text">Manage Invoice</span>
                      </a>
                  </li> -->
          </div>
    
          <div class="bottom-content">
              <li class="">
                  <a href="/logout">
                      <i class='bx bx-log-out icon' ></i>
                      <span class="text nav-text">Logout</span>
                  </a>
              </li>
             <!-- <li class="mode">
                  <div class="sun-moon">
                      <i class='bx bx-moon icon moon'></i>
                      <i class='bx bx-sun icon sun'></i>
                  </div>
                  <span class="mode-text text">Dark mode</span>
    
                  <div class="toggle-switch">
                      <span class="switch"></span>
                  </div> 
              </li>      -->
          </div>
      </div>
    </nav>