<link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css')}}">

<div class="header">
  <a href="/" class="logo">Online Miners</a>
  <div class="header-right">
      {% if current_user.is_authenticated %}
      <a href="{{url_for('GetCart')}}" style="width:auto;">Cart <span class="badge badge-danger"> {{session['Shoppingcart']|length}}  </span> </a>
      <a href="/login" style="width:auto;">My Orders</a>
      <a href="/logout" style="width:auto;">{{current_user.name}}</a>
      {% else %}
      <a href="/login" style="width:auto;">Login</a>
      <a href="/register" style="width:auto;">Register</a>
      {% endif %}
  </div>
</div>

